
.wrap {
	max-width: 1100px;
	width: 90%;
	background-color: #ddd;
	margin: 100px auto 300px auto;
	padding: 0 8px;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	justify-content: space-between;
}

#testbed-title, h2 {
	font-family: Ubuntu;
	font-size: 1.6em;
	text-align: center;
	font-weight: 500;
	margin: 8px;
}

.module-container {
	width: 400px;
	background-color: #fff;
	min-height: 400px;
	border-radius: 4px;
	margin: 9px auto;
}


#voting-record {
	min-width: 400px;
}

.pie-chart-segment {
	transition: all .2s ease;
}

.pie-chart-segment:hover {
	cursor: pointer;
	opacity: .9;
	transition: all .2s ease;
}

